/* pages/chat/pages/parse/index.wxss */
.p-parse-container {
  padding: 12px;
  box-sizing: border-box;
  overflow-y: auto;
}

.p-parse-field-container {
  margin-bottom: 32px;
}

.p-parse-field-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 12px;
}

.p-parse-content {
  padding: 12px;
  background: #f1f1f1;
  border-radius: 8px;
}