.p-navbar-container {
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  backdrop-filter: blur(10px); /* 应用模糊效果 */
  -webkit-backdrop-filter: blur(20px); /* Safari浏览器的兼容性前缀 */
  background-color: rgba(255, 255, 255, 0.5); /* 设置半透明的白色背景 */
}

.p-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px 12px;
  font-weight: 600;
}

.p-signon-container {
  display: flex;
  width: 100%;
  justify-content: center;
}