.p-apps-container {
  // background-color: #ebedf0;
  background-color: #f1f1f1;
  height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
}

.p-apps-item {
  margin-top: 12px;
}

.p-apps-common-cell {
  padding: 16px 16px !important;
}

.p-apps-common-cell-title {
  font-size: 18px !important;
}