/* pages/chat/index.wxss */
.p-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: transparent;
}

.p-chat-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: transparent;
}

.p-chat-messages {
  // flex: 1;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  width: 100%;
  // padding: 0 12px;
  box-sizing: border-box;
  background-color: transparent;
}

.p-chat-message-avatar {
  height: 22px;
  width: 22px;
  border-radius: 11px;
}

.p-chat-empty-avatar {
  height: 44px;
  width: 44px;
  margin-bottom: 24px;
  border-radius: 11px;
}

.p-chat-empty-desc {
  width: 30px;
  animation: infinite-blink 2s infinite;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@keyframes infinite-blink {
  0% {
    width: 30px;
  }
  100% {
    width: 170px;
  }
}

.p-chat-operations {
  height: 30px;
  display: flex;
  align-items: center;
  margin: 8px 8px 0;
}

.p-chat-search {
  position: relative;
  // min-height: 54px;
  padding: 0 12px 8px;
  display: flex;
  align-items: center;
  // backdrop-filter: blur(10px); /* 应用模糊效果 */
  // -webkit-backdrop-filter: blur(10px); /* Safari浏览器的兼容性前缀 */
  // background-color: rgba(255, 255, 255, 0.5); /* 设置半透明的白色背景 */
  // background-color: #f1f1f1;
  // border-top: #f1f1f1 1px solid;
  box-sizing: border-box;
}

.p-chat-search-border {
  width: 100%;
  padding: 1px 12px;
  border: 1px solid #f1f1f1;
  box-shadow: 0px 0px 4px 2px #cccccc;
  border-radius: 12px;
  display: flex;
}

.p-chat-search-input {
  flex: 1;

  textarea {
    padding: 6px 0;
    min-height: 18px !important;
    line-height: 18px !important;
    font-size: 18px;
    box-sizing: content-box;
  }
}

.p-chat-search-icon {
  display: flex;
  align-items: flex-end;
  padding: 4px 0;
}

.p-navbar-container {
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  backdrop-filter: blur(10px); /* 应用模糊效果 */
  -webkit-backdrop-filter: blur(10px); /* Safari浏览器的兼容性前缀 */
  background-color: rgba(241, 241, 241, 0.5);
}

.p-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px 12px;
  font-weight: 600;
}

.p-chat-message-contianer {
  padding-bottom: 18px;
  margin: 0 18px;
}

.p-chat-message-robot-contianer {
  padding-bottom: 18px;
  margin: 0 18px;
}

.p-chat-message-title {
  display: flex;
  flex-direction: row;
}

.p-chat-message-title-name {
  margin-left: 8px;
  font-weight: 600;
}

.p-chat-message-container {
  padding-top: 4px;
  margin-left: 30px;
  align-items: center;
}

.p-chat-message-robot {
  padding-top: 4px;
  margin-left: 30px;
  word-break: break-all;
  white-space: pre-line;
  margin-bottom: -20px;
}

.p-chat-robot-operate {
  margin-left: 20px;
}

.p-chat-message-to-bottom {
  width: 26px;
  height: 26px;
  background-color: white;
  border-radius: 26px;
  margin: 0px auto;
  position: absolute;
  top: -44px;
  left: 0;
  right: 0;
  transform: rotate(180deg);
  z-index: 100;
  box-shadow: 0px 0px 4px 2px #f1f1f1;
}

.p-chat-message-loading {
  margin-left: 4px;
  margin-bottom: 12px;
  width: 15px;
  height: 15px;
  background-color: black; /* 小圆球的颜色，这里使用蓝色 */
  border-radius: 50%; /* 使元素呈现圆形 */
  animation: ball-breath 2s infinite; /* 应用动画，动画周期为2秒，无限循环 */
}

.p-chat-icon-cancel {
  animation: ball-breath 2s infinite; /* 应用动画，动画周期为2秒，无限循环 */
}

@keyframes ball-breath {
  0%, 100% {
    transform: scale(1); /* 原始大小 */
  }
  50% {
    transform: scale(0.8); /* 扩大到120%的大小 */
  }
}

.p-chat-group-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
}

.p-chat-group-search {
  border-bottom: 1px solid #f1f1f1;
}

.p-chat-group-list {
  flex: 1;
  overflow-y: auto;
}

.p-chat-group-user {
  border-top: 1px solid #f1f1f1;
  min-height: 90px;
  box-sizing: border-box;
  backdrop-filter: blur(10px); /* 应用模糊效果 */
  -webkit-backdrop-filter: blur(10px); /* Safari浏览器的兼容性前缀 */
  background-color: rgba(255, 255, 255, 0.5); /* 设置半透明的白色背景 */
}

.p-chat-group-add {
  min-height: 60px;
  padding: 10px 16px;
  box-sizing: border-box;
}

.p-chat-sidesheet {
  height: 100%;
  width: 75%;
  overflow: hidden;
}

.p-common-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.p-common-blur {
  backdrop-filter: blur(10px); /* 应用模糊效果 */
  -webkit-backdrop-filter: blur(10px); /* Safari浏览器的兼容性前缀 */
  background-color: rgba(255, 255, 255, 0.5); /* 设置半透明的白色背景 */
}

.p-common-cell-padding {
  padding: 10px 16px 0px;
}

.p-chat-nomessage-container {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.p-chat-nomessage-desc {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.p-chat-nomessage-demo {
  height: 46px;
  display: flex;
  align-items: center;
}

.p-chat-nomessage-demo-list {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  overflow-x: auto;
  width: 100%;
}

.p-chat-nomessage-demo-item {
  flex-shrink: 0;
  padding: 4px 8px;
  margin-left: 12px;
  background-color: #f1f1f1;
  font-size: 12px;
  color: #323232;
  border-radius: 16px;
  border: 1px solid #ebedf0;
}

.p-common-no-border {
  border: none;
  background: transparent;
  color: #888888;
}

