/* pages/chat/index.wxss */
.p-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: transparent;
}

.p-chat-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: transparent;
}

.p-chat-messages {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.p-chat-message-avatar {
  height: 22px;
  width: 22px;
}

.p-chat-empty-avatar {
  height: 44px;
  width: 44px;
  margin-bottom: 24px;
  border-radius: 11px;
}

.p-chat-empty-desc {
  width: 30px;
  animation: infinite-blink 2s infinite;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@keyframes infinite-blink {
  0% {
    width: 30px;
  }
  100% {
    width: 170px;
  }
}

.p-chat-operations {
  height: 30px;
  display: flex;
  align-items: center;
  margin: 8px 8px 0;
}

.p-chat-search-container {
  position: relative;
  backdrop-filter: blur(10px); /* 应用模糊效果 */
  -webkit-backdrop-filter: blur(10px); /* Safari浏览器的兼容性前缀 */
  background-color: rgba(255, 255, 255, 0.5); /* 设置半透明的白色背景 */
  // border-top: 1px solid #f1f1f1;
  // background-color: #f1f1f1;
  box-sizing: border-box;
}

.p-chat-search {
  position: relative;
  // min-height: 54px;
  padding: 8px 12px 10px;
  display: flex;
  align-items: center;
}

.p-chat-search-border {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #fff;
  border-radius: 30px;
  min-height: 46px;
  box-sizing: content-box;
}

.p-chat-search-input {
  flex: 1;
  background-color: transparent;
  width: 100%;

  textarea {
    border-radius: 24px;
    padding: 8px 16px;
    min-height: 18px !important;
    line-height: 18px !important;
    font-size: 18px;
    box-sizing: content-box;
    background-color: transparent;
  }
}

.p-chat-search-icon-active {
  background-color: #1989fa !important;
}

.p-navbar-container {
  background-color: #f1f1f1;
}

.p-navbar-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.p-navbar-text {
  max-width: 60%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.p-chat-message-contianer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 18px;
  margin: 0 18px;
}

.p-chat-message-robot-contianer {
  padding-bottom: 18px;
  margin: 0 18px;
}

.p-chat-message-title {
  display: flex;
  flex-direction: row;
}

.p-chat-message-title-name {
  margin-left: 8px;
}

.p-chat-message-user-container {
  margin-left: 30px;
  font-size: 16px;
  line-height: 1.8em;
  display: flex;
  justify-content: flex-end;
  background-color: #1989fa;
  padding: 6px 12px;
  border-radius: 6px 6px 0 6px;
  color: #fff;
  width: fit-content;
}

.p-chat-message-robot {
  margin-top: 8px;
  word-break: break-all;
  background-color: #fff;
  padding: 6px 12px;
  border-radius: 0 6px 6px 6px;
  width: fit-content;
  max-width: calc(100vw - 60px);
  white-space: pre-line;
}

.p-chat-robot-operate {
  margin-left: -10px;
  white-space: initial;
}

.p-chat-message-to-bottom {
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 26px;
  margin: 0px auto;
  position: absolute;
  top: -44px;
  left: 0;
  right: 0;
  // transform: rotate(180deg);
  z-index: 100;
  box-shadow: 0px 0px 3px 2px #e2e2e2;
  animation-fill-mode: forwards;
  animation: transfer .2s;
}

@keyframes transfer {
  0% {
    top: -32px;
    transform: scale(50%);
  }
  100% {
    top: -44px;
    transform: scale(100%);
  }
}

.p-chat-message-loading {
  margin: 4px;
  width: 15px;
  height: 15px;
  background-color: black; /* 小圆球的颜色，这里使用蓝色 */
  border-radius: 50%; /* 使元素呈现圆形 */
  animation: ball-breath 2s infinite; /* 应用动画，动画周期为2秒，无限循环 */
}

.p-chat-icon-cancel {
  // animation: ball-breath 2s infinite; /* 应用动画，动画周期为2秒，无限循环 */
  margin-left: 6px;
  margin-right: 8px;
}

@keyframes ball-breath {
  0%, 100% {
    transform: scale(1); /* 原始大小 */
  }
  50% {
    transform: scale(0.8); /* 扩大到120%的大小 */
  }
}

.p-chat-group-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
}

.p-chat-group-search {
  border-bottom: 1px solid #f1f1f1;
}

.p-chat-group-list {
  flex: 1;
  overflow-y: auto;
  padding: 12px 0;
}

.p-chat-group-user {
  border-top: 1px solid #f1f1f1;
  box-sizing: border-box;
  backdrop-filter: blur(10px); /* 应用模糊效果 */
  -webkit-backdrop-filter: blur(10px); /* Safari浏览器的兼容性前缀 */
  background-color: rgba(255, 255, 255, 0.5); /* 设置半透明的白色背景 */
}

.p-chat-group-add {
  min-height: 60px;
  padding: 20px 16px;
  box-sizing: border-box;
}

.p-chat-sidesheet {
  height: 100%;
  width: 75%;
  overflow: hidden;
}

.p-common-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.p-common-blur {
  backdrop-filter: blur(10px); /* 应用模糊效果 */
  -webkit-backdrop-filter: blur(10px); /* Safari浏览器的兼容性前缀 */
  background-color: rgba(241, 241, 241, 0.5); /* 设置半透明的白色背景 */
}

.p-common-cell-padding {
  border-bottom: 1px solid #f1f1f1;
  backdrop-filter: blur(10px); /* 应用模糊效果 */
  -webkit-backdrop-filter: blur(10px); /* Safari浏览器的兼容性前缀 */
  background-color: rgba(255, 255, 255, 0.5); /* 设置半透明的白色背景 */
}

.p-chat-nomessage-container {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.p-chat-nomessage-desc {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.p-chat-nomessage-demo {
  display: flex;
  align-items: center;
}

.p-chat-nomessage-demo-list {
  margin-top: 10px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  overflow-x: auto;
  width: 100%;
}

.p-chat-nomessage-demo-item {
  flex-shrink: 0;
  padding: 8px 16px;
  margin-left: 12px;
  border: 1px solid #f1f1f1;
  font-size: 14px;
  color: #323232;
  border-radius: 8px;
  max-width: 180px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  background-color: #fff;
}

.p-common-no-border {
  border: none;
  background: transparent;
  color: #888888;
}

.p-common-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

button[style="color: #07c160"] > view {
  color: #07c160 !important;
}

.p-search-group-field {
  width: 100%;
}

.p-search-group-field-part {
  width: 75%;
}

.p-chat-user-info {
  display: flex;
  align-items: center;
}

.p-chat-user-avatar {
  margin-bottom: -8px;
  margin-right: 8px;
}

.p-common-bg {
  background-color: #f1f1f1;
}

.p-chat-rename-field {
  width: calc(100% - 24px);
  border: 1px solid #f1f1f1;
  padding: 6px 12px;
  margin: 12px;
  border-radius: 8px;
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-send {
  height: 32px;
  width: 32px;
  font-size: 20px !important;
  padding: 3px 2px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 32px;
  background-color: #f1f1f1;
  margin-left: 6px;
  box-sizing: border-box;
  margin-right: 8px;
}

.icon-send:before {
  content: "\e6fd";
}

.icon-list:before {
  content: "\e630";
}

.icon-yuyin-container {
  position: relative;
  width: 32px;
  height: 32px;
}

.icon-yuyin {
  position: absolute;
  z-index: 20;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  margin-left: 8px;
  margin-right: -8px;
}

.icon-yuyin:before {
  content: "\e6e1";
}

.p-chat-voice-text {
  position: absolute;
  width: 100%;
  flex: 1;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 32px;
  background-color: transparent;
  z-index: 10;
}

.p-chat-voice-text:active {
  background-color: rgb(214, 214, 214);
}

.p-chat-voice-text:after {
  content: none;
}

.p-chat-voice-text::after {
  border: none;
}

.icon-keyboard {
  position: absolute;
  z-index: 20;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  margin-left: 8px;
}
.icon-keyboard:before {
  content: "\e71b";
}


