/* pages/chat/conponents/empty/index.wxss */
.c-empty-container {
  padding-top: -100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
  height: 100%;
}

.c-empty-title {
  font-size: 20px;
  font-weight: 600;
  margin: 16px 0 0;
}

.c-empty-desc {
  margin: 16px 0 24px;
  color: #888888;
}