.p-navbar-container {
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  backdrop-filter: blur(10px); /* 应用模糊效果 */
  -webkit-backdrop-filter: blur(20px); /* Safari浏览器的兼容性前缀 */
  background-color: rgba(227, 227, 227, 0.5);
}

.p-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px 12px;
  font-weight: 600;
}

.p-wxofficial-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

.p-wxofficial-image {
  margin: 60px auto 20px;
  width: 240px;
  height: 240px;
}
.p-wxofficial-text {
  display: inline-block;
  margin: 0 auto 4px;
  font-size: 14px;
  color: #888888;
}
