.p-navbar-container {
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  backdrop-filter: blur(10px); /* 应用模糊效果 */
  -webkit-backdrop-filter: blur(20px); /* Safari浏览器的兼容性前缀 */
  background-color: rgba(255, 255, 255, 0.5); /* 设置半透明的白色背景 */
}

.p-navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 12px 12px;
  font-weight: 600;
}

.p-user-container {
  // background-color: #ebedf0;
  background-color: #f1f1f1;
  height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
}

.p-user-info-container {
  background-color: white;
  height: 100px;
  width: 100%;
  display: flex;
  padding: 15px 30px;
  box-sizing: border-box;
  backdrop-filter: blur(10px); /* 应用模糊效果 */
  -webkit-backdrop-filter: blur(20px); /* Safari浏览器的兼容性前缀 */
  // background-color: rgba(255, 255, 255, 0.5); /* 设置半透明的白色背景 */
}

.p-user-info-avatar {
  margin-right: 12px;
  border-radius: 12px;
  height: 50px;
  width: 50px;
}

.p-user-info-name {
  font-weight: 600;
  margin-bottom: 4px;
}

.p-user-info-count {
  color: #aaaaaa;
}

.p-user-operate-container {
  flex: 1;
  overflow-y: auto;
}

.p-user-item {
  margin-top: 12px;
}

.calendar {
  --calendar-height: 418px;
}