.p-navbar-container {
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  backdrop-filter: blur(10px); /* 应用模糊效果 */
  -webkit-backdrop-filter: blur(20px); /* Safari浏览器的兼容性前缀 */
  background-color: rgba(227, 227, 227, 0.5);
}

.p-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px 12px;
  font-weight: 600;
}

.p-coemail-container {
  height: 100%;
  background-color: #f1f1f1;
}

.p-coemail-btn {
  width: calc(100% - 50px) !important;
  margin: 48px 24px;
  border-radius: 8px !important;
}