.p-email-container {
  padding: 12px;
  box-sizing: border-box;
}

.p-email-field {
  margin-bottom: 24px;
}

.p-email-field-title {
  font-size: 20px;
  font-weight: 600;
  margin: 12px 0;
}

.p-email-field-content {
  border: 1px solid #f1f1f1;
  border-radius: 8px;
}

.p-email-btn {
  margin-top: 40px;
}

.p-email-desc {
  margin-top: 40px;
  color: #888;
}
